@use '../mixins/responsive.scss' as *;

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', serif;
  background-color: #2b2b2b;
  color: white;
  font-size: 14px;
  max-width: 1440px;
  margin-inline: auto;

  @include responsive(tablet) {
    font-size: 24px;
  }

  @include responsive(desktop) {
    font-size: 32px;
  }
}
