@use '../mixins/responsive.scss' as *;

.main {
  padding: 26px 16px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 86px 44px 44px 211px 86px 98px 86px;
  gap: 22px;

  @include responsive(tablet) {
    grid-template-rows: 123px 481px 98px 86px 98px;
  }
}

.sport {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: black;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive(tablet) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &__box {
    width: 144px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9bff5c;
    border-radius: 25px;
    padding: 22px 16px;
    @include responsive(tablet) {
      width: 213px;
      height: 74px;
    }
  }
}

.power {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  background-color: black;
  border-radius: 16px;
  padding: 14.5px 32px;
  text-align: center;

  @include responsive(tablet) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.healt {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 16px;

  @include responsive(tablet) {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    flex-direction: row;
    gap: 10px;
  }

  &__img {
    margin-bottom: 10px;
  }
}

.charge {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: black;
  border-radius: 16px;

  @include responsive(tablet) {
    grid-column: 3 / 6;
    grid-row: 5 / 6;
  }

  &__box {
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px 8px;
  }
}

.blood {
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: black;
  border-radius: 16px;

  @include responsive(tablet) {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  &__box {
    border: 1px solid blue;
    border-radius: 50%;
    padding: 5px 6px;
  }
}

.phone {
  grid-column: 1 / 6;
  grid-row: 4 / 5;

  border-radius: 16px;
  @include responsive(tablet) {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
  }
}

.crush {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-family: 'Crushed', serif;
  font-size: 32px;

  background-color: black;
  border-radius: 16px;

  @include responsive(tablet) {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.option {
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;

  background-color: black;
  border-radius: 16px;

  @include responsive(tablet) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  &__bluetooth,
  &__wifi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.calls {
  grid-column: 4 / 6;
  grid-row: 6 / 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: black;
  border-radius: 16px;

  @include responsive(tablet) {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
  }
}

.alert {
  grid-column: 1 / 6;
  grid-row: 7 / 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  font-size: 32px;

  background-color: black;
  border-radius: 16px;

  @include responsive(tablet) {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
}
